.sf-crop-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #FFFFFF;
  overflow: auto;
  z-index: 1000;
  width: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.sf-crop-modal.visible {
  opacity: 1;
  z-index: 1001;
}
.sf-crop-modal .sf-crop-modal-footer {
  padding-top: 20px;
  text-align: right;
}
.sf-crop-modal .btn {
  display: inline-block;
  margin: 0 0 0 10px;
  border-width: 0;
  border-radius: 2px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
  color: #4a4a4a;
  background: #fff;
  outline: none;
}
.sf-crop-modal .btn:hover,
.sf-crop-modal .btn:focus {
  background-color: #efefef;
}
.sf-crop-modal .btn.sf-crop-save {
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.6);
}
.sf-crop-modal .btn.sf-crop-close {
  color: #8a8a8a;
}
.sf-crop-modal .sf-crop-container {
  position: relative;
}
.sf-crop-modal .sf-crop-container canvas {
  display: block;
}
.sf-crop-modal .sf-crop-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sf-crop-modal .sf-crop-wrapper .sf-crop-elements {
  position: absolute;
  border: 1px dashed black;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  cursor: move;
}
.sf-crop-modal .sf-crop-wrapper .sf-crop-dimmers-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sf-crop-modal .sf-crop-wrapper .dimmers {
  position: absolute;
}
.sf-crop-modal .sf-crop-wrapper .dimmer {
  position: absolute;
  width: 1000px;
  height: 1000px;
  background-color: black;
  opacity: 0.3;
}
.sf-crop-modal .sf-crop-wrapper .dimmer.dimmer-N {
  bottom: 100%;
  left: 0;
}
.sf-crop-modal .sf-crop-wrapper .dimmer.dimmer-E {
  left: 100%;
  top: 0;
}
.sf-crop-modal .sf-crop-wrapper .dimmer.dimmer-S {
  top: 100%;
  right: 0;
}
.sf-crop-modal .sf-crop-wrapper .dimmer.dimmer-W {
  bottom: 0;
  right: 100%;
}
.sf-crop-modal .sf-crop-wrapper .handler {
  position: absolute;
  border: 1px solid #333;
  width: 10px;
  height: 10px;
  background: #FFF;
  opacity: 0.5;
}
.sf-crop-modal .sf-crop-wrapper .handler.handler-N {
  top: 0;
  left: 50%;
  margin-top: -6px;
  margin-left: -6px;
  cursor: n-resize;
}
.sf-crop-modal .sf-crop-wrapper .handler.handler-NE {
  top: 0;
  right: 0;
  margin-top: -6px;
  margin-right: -6px;
  cursor: ne-resize;
}
.sf-crop-modal .sf-crop-wrapper .handler.handler-E {
  top: 50%;
  right: 0;
  margin-top: -6px;
  margin-right: -6px;
  cursor: e-resize;
}
.sf-crop-modal .sf-crop-wrapper .handler.handler-SE {
  bottom: 0;
  right: 0;
  margin-bottom: -6px;
  margin-right: -6px;
  cursor: se-resize;
}
.sf-crop-modal .sf-crop-wrapper .handler.handler-S {
  bottom: 0;
  left: 50%;
  margin-bottom: -6px;
  margin-left: -6px;
  cursor: s-resize;
}
.sf-crop-modal .sf-crop-wrapper .handler.handler-SW {
  bottom: 0;
  left: 0;
  margin-bottom: -6px;
  margin-left: -6px;
  cursor: sw-resize;
}
.sf-crop-modal .sf-crop-wrapper .handler.handler-W {
  top: 50%;
  left: 0;
  margin-top: -6px;
  margin-left: -6px;
  cursor: w-resize;
}
.sf-crop-modal .sf-crop-wrapper .handler.handler-NW {
  top: 0;
  left: 0;
  margin-top: -6px;
  margin-left: -6px;
  cursor: nw-resize;
}
.sf-crop-modal .sf-crop-modal-header .sf-crop-cropper-info {
  font-size: 12px;
}
.sf-crop-modal .sf-crop-modal-header .sf-crop-close {
  position: absolute;
  background: transparent;
  padding: 0;
  top: 10px;
  right: 15px;
  font-size: 24px;
  border: none;
  opacity: 0.2;
  cursor: pointer;
}
.sf-crop-modal .sf-crop-modal-header .sf-crop-close:hover {
  opacity: 1;
}
.sf-crop-backdrop {
  top: 0;
  left: 0;
  position: fixed;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.sf-crop-backdrop.visible {
  opacity: 0.4;
  z-index: 1000;
}
